*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    line-sizing: normal;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

img {
    border-style: none;
}

audio {
    width: 100%;
}

img,
svg,
video,
canvas {
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

address,
caption,
cite,
code,
dfn,
th {
    font-weight: normal;
    font-style: normal;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    white-space: pre-wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --color-text: hsl(0, 0%, 0%, 0.87);
    --color-text-primary: hsl(168, 86%, 24%);
    --color-text-accent: hsl(309, 85%, 38%);
    --color-primary: hsl(168, 87%, 61%);
    --color-secondary: hsl(348, 100%, 93%);
    --color-accent: hsl(309, 85%, 59%);
    --color-background: hsl(170, 60%, 98%);

    --content-width: 1200px;
    --max-width: 1400px;
    --ff-body: 'Open Sans', sans-serif;

    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4rem;
    --fs-900: 6rem;
}

body {
    font-family: var(--ff-body);
    background-color: var(--color-background);
}

a.active {
    color: var(--color-text-primary);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    clip: auto !important;
    clip-path: none !important;
    height: auto !important;
    width: auto !important;
    white-space: normal !important;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
